<h2>Contact us:</h2>

<form method='POST' action='/mail'>
<div class="form-group">
	<label for="inputName">Name</label>
	<input type="text"  name="inputName" placeholder="Name">
</div>
<br>
<div class="form-group">
	<label for="inputEmail">Email</label>
	<input type="text" class="form-control" name="inputEmail" placeholder="Email">
</div>
<br>
<div class="form-group">
	<label for="inputSubject">Subject</label>
	<input type="text" class="form-control" name="inputSubject" placeholder="Subject">
</div>
<br>
<div class="form-group">
	<label for="inputText">Body</label>
	<textarea class="form-control" name="inputText" placeholder="text"></textarea>
</div>
<button type='submit'>Submit</button>



</form>