<h2>Welcome to my Bakery</h2>

<h2>Signup form</h2>
<form method='post' action='/signup'>
	Username: <input type='text' name='username'>
	Password: <input type='text' name='password'>
				<input type='submit'>
</form>

<h2>Singin form</h2>

<form method='post' action='/login'>
	Username: <input type='text' name='username'>
	Password: <input type='text' name='password'>
				<input type='submit'>
</form>