<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<ul>
		<% if current_user %>	
			<li class='current'><%= current_user.username %></li>
			<li><form method='post' action="/login">
				<input type='submit' value='Logout'>
			</form></li>
		<% end %>

			<li><a href="/products"> Products </a></li>
			<li><a href="/guests"> Guests </a></li>
		</ul>
	</nav>



<div class='main-container'>
	<%= yield %>
</div>

<% flash.keys.each do |type| %>
   <%= type %> 
    <%= flash[type] %>
    <a href="/" class="close">&times;</a>
  </div>
<% end %>


</body>
</html>